@using Web.Models
@model Web.Controllers.AccessListModel

@{
	ViewBag.Title = "Информация о пользователях";
}

<h2>Информация о пользователях</h2>

<div class="container">
	<div class="col-lg-9">
		@Html.Partial("AddAccessForm", new AddAccessModel
		{
			ObjectId = Model.Org.ObjectId
		})
		<h4>Пользователи, имеющие доступ к огранизации @Model.Org.Name</h4>
		<table class="table table-hover">
			<tr>
				<th>Имя пользователя</th>
				<th>Тип доступа</th>
			</tr>
			@foreach (var access in Model.Access)
			{
				<tr>
					<td>@access.User.Login</td>
					<td>@access.AccessType</td>
				</tr>
			}
		</table>
	</div>
</div>



