@model int

@{
	var formName = ViewData.ContainsKey("form") ? (string)ViewData["form"] : null;
}

<div class="form-group">
	@Html.LabelFor(x => x)
	@if (!string.IsNullOrEmpty(formName))
	{
		@Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new {type = "number", @class = "form-control text-right", form = formName})
	}
	else
	{
		@Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new { type = "number", @class = "form-control text-right"})
	}
</div>