@model int

@{
	var formName = ViewData.ContainsKey("form") ? (string)ViewData["form"] : null;
}

<div class="form-group">
	@Html.LabelFor(x => x)
	@(!string.IsNullOrEmpty(formName) ? 
		Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new {type = "number", @class = "form-control text-right", form = formName}) : 
		Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, new {type = "number", @class = "form-control text-right"}))
</div>