@model string

@{
	var placeHolder = ViewData.ModelMetadata.DisplayName;
	var formName = ViewData.ContainsKey("form") ? (string)ViewData["form"] : null;
}

<div class="form-group">
	@Html.LabelFor(x => x)
	@if (!string.IsNullOrEmpty(formName))
	{
		@Html.Password("", ViewData.TemplateInfo.FormattedModelValue, new {@class = "form-control", placeholder = @placeHolder, form = formName})
	}
	else
	{
		@Html.Password("", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control", placeholder = @placeHolder})
	}
</div>