@model System.Collections.Generic.List<Web.Models.User.UserModel>

@{
	ViewBag.Title = "Зарегистрированные пользователи";
}

<div>
	@Html.ActionLink("Добавить пользователя", "Create", "User")
</div>

@if (Model.Any())
{
	<table>
		<tr>
			<th>Логин</th>
			<th>E-mail</th>
		</tr>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.Info.Name</td>
				<td>@user.Info.Email</td>
			</tr>
		}
	</table>
}
else
{
	<h3>Не пользователей</h3>
}